@media (min-width: 0) {
    .animated-profile {
        display: none;
    }
    .layout {
        background: url('images/iphone.png') no-repeat center #fff;
    }
}

@media (min-width: 480px) {

}

@media (min-width: 768px) {
    .animated-profile {
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .animated-profile:before, .copyright {
        content: "";
        position: absolute;
        left: 5%;
        top: 20%;
        width: 25%;
        height: 20%;
        background: rgba(255,255,255,.3);
        z-index: 2;
    }
    .copyright {
        top: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
    }
    .copyright span {
        font-weight: bolder;
        animation: blink 2s 1s ease-in alternate infinite;
    }
    .profile {
        position: absolute;
        right: 0;
        top: 20%;
        bottom: 20%;
        width: 50%;
        background: rgba(255,255,255,.3);
    }
    .profile-img {
        position: absolute;
        display: block;
        right: 90%;
        opacity: 0;
        height: 100%;
        animation: imgMove 20s 0s ease-in-out forwards;
    }
    .profile-img img {
        max-width: none;
        height: 100%;
        border: 2px solid #fff;
    }

    /*Animation*/

    @keyframes blink {
        from {
            opacity: 0.3;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes imgMove {
        0% {
            opacity: 0;
            right: 90%;
        }
        25% {
            opacity: 0;
        }
        30% {
            opacity: .3
        }
        to {
            right: 0%;
            opacity: .7;
        }
    }

}

@media (min-width: 992px) {

}   

@media (min-width: 1200px) {

}
    