.frmEntry {
    padding-left: 15%;
    padding-right: 15%;
    background: var(--light-grey) !important;
}
.weight_unit {
    width: 80px;
    font-weight: bold;;
}
.weight_unit option {
}
.calendar_icon, .unit {
    position: absolute;
    right: 20px;
    top: 7px;
    color: #000;
    opacity: .7;
}