.frmEntry {
    padding-left: 15%;
    padding-right: 15%;
    background: var(--light-grey) !important;
}
.calendar_icon, .unit {
    position: absolute;
    right: 20px;
    top: 7px;
    color: #000;
    opacity: .7;
}