
.historyList {
    padding-top: 10px;
    background: #fff !important;
}
.historyList > ul > li {
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    border-bottom: thin solid rgb(217 217 217 / 20%);
}
.historyList > ul > li > * {
    flex: 0 0 25%;
}
.amend_entry {
    display: flex;
    justify-content: space-between;
    flex-basis: 20% !important;
    margin-left: auto;
}
.history_date, .history_weight, .history_weight_diff, .amend_entry {
    font-size: .8em;
}
.amend_entry button {
    font-size: 1em;
}
.navPane {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;
}
.navbtn {
    line-height: 35px;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: 1px;
    flex-grow: 1 !important;
    border-radius: 0;
}
.navbtn:hover, .navbtn:focus {
    color: #fff;
    background: #009CE1;
    opacity: 1;
}