
.historyList {
    padding-top: 10px;
    background: #fff !important;
}
.historyList > ul > li {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: thin solid rgb(217 217 217 / 20%);
}
.historyList > ul > li > * {
    flex: 0 0 25%;
}
.amend_entry {
    display: flex;
    justify-content: space-between;
    flex-basis: 20% !important;
    margin-left: auto;
}
.history_date, .history_weight, .history_weight_diff, .amend_entry {
    font-size: .8em;
}
.amend_entry button {
    font-size: 1em;
}