/*Preferences*/
.preferenceList > ul > li {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: thin solid rgb(239 239 239 / 30%);
}
.preferenceList > ul > li.profile {
    border-bottom-color: rgb(239 239 239 / 90%);
}