
/* APP */

.layout {
    position: relative;
    height: 100vh;
    width: 100vw;
    max-height: 620.64px;
    max-width: 320px;
    margin: 0 auto;
    padding: 18px;
}

/* Header */

.app-header {
    height: 100px;
    padding: 3px 10px 0 15px;
    padding-left: 10px;
    width: 100%;
}
.indicators {
    display: flex;
    margin-bottom: 10px;
}
.time, .primary-indicators > * {
    display: inline-block;
    font-size: .65em;
    font-weight: bold;
    color: white;
}
.time {
    margin-right: auto;
    line-height: 24px;
}
.primary-indicators > span {
    line-height: 24px;
    padding: 0 1px;
}
.nav-control {
    width: 50px;
    color: #fff;
}
.nav-control > span {
    display: inline-block;
    font-size: 2.7em;
}

/* Footer */

.app-footer {
    position: absolute;
    bottom: 10px;
    left: 2px;
    right: 2px;
    display: flex;
    padding-top: 60px;
    border-left: 18px solid #000;
    border-right: 18px solid #000;
    border-bottom: 10px solid #000;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #E4E4E4;
}
.app-footer:before {
    content: "";
    position: absolute;
    left:  30%;
    right: 30%;
    bottom: 5px;
    border: 2px solid rgba(169,169,169, .7);
}
.preferences, .add-entry, .history {
    flex: 0 0 33.33%;
    position: relative;
    top: -10px;
}
.preferences > img, .add-entry > img, .history > img {
    width: 30px;
    height: 30px;
}
.add-entry {
    top: -50px;
}
.add-entry > img {
    width: 50px;
    height: 50px;
}
